src/main/mule/ntn-japan-master-jde-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<flow name="ntn-japan-master-jde-sapiFlow" doc:id="578c10aa-2bf5-4b95-9baa-1d07c8c7d1f8" initialState="started">
		<scheduler doc:name="Scheduler" doc:id="044f123d-8c62-4422-9421-1c91f4bb05a5" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="MINUTES" frequency="2"/>
			</scheduling-strategy>
		</scheduler>		
		<logger level="INFO" doc:name="start logger of ntn-japan-master-jde-sapi-flow" doc:id="54fc93c3-c802-48c5-9e74-cd66f6355504" message='"start logger of ntn-japan-master-jde-sapi-flow"'/>
		<ee:transform doc:name="Transform Message" doc:id="50f6df35-f90a-48e7-9a1c-abd895d00196" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="countQuery" ><![CDATA["SELECT COUNT(*) FROM TESTDTA.F57JPNPM WHERE RCAA19 NOT LIKE '#%' 
  AND RCAA19 NOT LIKE '%#%'  AND RCI75MCHFD = 'Y'"

//" Select COUNT(*) from TESTDTA.F57JPNPM where RCAA19 like 'Z1%' "]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="ab2b5311-fb5e-44cb-8030-7a28c029573e" config-ref="db_config" target="count">
			<db:sql ><![CDATA[#[vars.countQuery]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="12afbe70-ebaf-47ad-a972-3464dc3a19cc">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="query"><![CDATA["SELECT  RCAA19 ,RC74USTA FROM TESTDTA.F57JPNPM WHERE RCAA19 NOT LIKE '#%' 
 AND RCAA19 NOT LIKE '%#%' AND RCI75MCHFD = 'Y'"
// "Select RCAA19 ,RC74USTA from TESTDTA.F57JPNPM where RCAA19 like 'Z1%' "]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<db:select doc:name="Select" doc:id="872014a1-a651-486d-8d3e-7198b280e6ea" config-ref="db_config" target="dbresponse" fetchSize="#[vars.count[0].'COUNT(*)']" maxRows="#[vars.count[0].'COUNT(*)']">
			<db:sql><![CDATA[#[vars.query]]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="fada2861-0b1f-4418-9f3e-b4a77afcc82b" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
---
vars.dbresponse]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="RCAA19" ><![CDATA[""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7842c0de-0bc6-4a00-889e-a775f1de0ef1" message="#[payload]" />
		<foreach doc:name="For Each" doc:id="d46d42fa-ad4a-4a21-b4ea-6eb59cfc9944" >
			<ee:transform doc:name="Transform Message" doc:id="61c993e6-60df-48f1-adfe-ea289da4c542">
						<ee:message>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="query"><![CDATA[%dw 2.0
output application/java
---
"SELECT Part_Number__c, Id ,Name FROM Product2 WHERE Part_Number__c = " ++ "'" ++(payload."RCAA19" replace " " with ("") ) ++ "'"]]></ee:set-variable>
					<ee:set-variable variableName="errorIds" ><![CDATA[[] + vars.errorIds default {}]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
			<salesforce:query doc:name="Query" doc:id="a0689a64-277d-480b-b298-5cad47ab4164" config-ref="Salesforce_Config" target="sfresponse">
			<salesforce:salesforce-query><![CDATA[#[vars.query]]]></salesforce:salesforce-query>
		</salesforce:query>
			<choice doc:name="Choice" doc:id="3d360719-c745-445a-aeed-fcfc8c1d4511">
						<when expression="#[sizeOf(vars.sfresponse) &gt; 0]">
							<ee:transform doc:name="Transform Message" doc:id="600c8c1d-ccd6-45ef-9f5e-8c7799eb2c0c">
								<ee:message>
								</ee:message>
								<ee:variables>
									<ee:set-variable variableName="RCAA19"><![CDATA[%dw 2.0
output application/json
---
trim(payload.RCAA19) default "" ++ "," ++ vars.RCAA19 as String]]></ee:set-variable>
							<ee:set-variable variableName="upload" ><![CDATA[%dw 2.0
output application/java
---
[{
  Part_Number__c : payload.RCAA19,
  Stocking_Type_Code__c: 
    if (payload."RC74USTA" == "0") "0-Customer pending apart no."
    else if (payload."RC74USTA" == "1") "1-Available part no."
    else if (payload."RC74USTA" == "2") "2-Old part no."
    else if (payload."RC74USTA" == "3") "3-Part to be phased out"
    else if (payload."RC74USTA" == "4") "4-Purchased part"
    else if (payload."RC74USTA" == "6") "6-Production plan part no."
    else if (payload."RC74USTA" == "7") "7-Dead part no."
    else if (payload."RC74USTA" == "9") "9-Substitution part no."
    else "" ,
    External_ID__c : trim(payload.RCAA19) ++ "-JPN-NTN" ,
    NTN_Company_Number__c : "00001",
    Origin__c : "JPN",
    Brand__c : "NTN" ,
    Part_Number_Type__c : "Base" ,
    Source__c : "JAPAN",
    ProductCode : payload.RCAA19 ,
    CIF_Min__c : 0.00,
    Landed_Cost_Max__c : 0.00 ,
    Landed_Cost_Min__c : 0.00 ,
    Estimated_Production_Lead_Time_Max__c : "0.00",
    Estimated_Production_Lead_Time_Min__c : "0.00",
    IsActive: true as Boolean ,
    Id : vars.sfresponse.Id[0]
}]
]]></ee:set-variable>
								</ee:variables>
							</ee:transform>
							<salesforce:upsert doc:name="Upsert" doc:id="b2edf642-6de0-49f6-9d3a-3db50bc25284" config-ref="Salesforce_Config" objectType="Product2" externalIdFieldName="External_ID__c">
						<salesforce:records ><![CDATA[#[vars.upload]]]></salesforce:records>
					</salesforce:upsert>
					<choice doc:name="Choice" doc:id="33a37959-c83a-491a-a0f5-72157aa8cd31" >
						<when expression="#[payload.successful != true]">
							<ee:transform doc:name="Transform Message" doc:id="44d000ff-42bc-464e-833e-1b6b3b81f802">
						<ee:message>
						</ee:message>
						<ee:variables>
									<ee:set-variable variableName="errorIds" ><![CDATA[%dw 2.0
output application/json skipNullOn = 'everywhere'
---
 [{
	part_number : vars.upload.Part_Number__c[0],
	successMessage : payload.successful	
}
] + vars.errorIds  default [] ]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
							<logger level="INFO" doc:name="Logger" doc:id="f20c6951-74f8-4b1b-8b4e-6f1dc489d729" message="#[payload.successful]" />
						</when>
						<otherwise >
							<logger level="INFO" doc:name="Logger" doc:id="eb699172-6864-410d-b78f-a7fb59f93c36" message='#["Update Successful"]'/>
							<!-- [STUDIO:"Transform Message"]<ee:transform doc:name="Transform Message" doc:id="995a0035-70e1-4cf5-b3f7-a8d1a2889717" >
								<ee:message >
								</ee:message>
								<ee:variables >
									<ee:set-variable variableName="successIds" ><![CDATA[%dw 2.0
output application/json skipNullOn = 'everywhere'
&#45;&#45;-
 [{
	part_number : vars.upload.Part_Number__c[0&#93;,
	successMessage : payload.successful
	
}
&#93; + vars.successIds  default [&#93; &#93;&#93;></ee:set-variable>
								</ee:variables>
							</ee:transform> [STUDIO] -->
						</otherwise>
					</choice>
						</when>
						<otherwise>
							<logger level="INFO" doc:name="Logger" doc:id="47f39c35-2d60-4d7c-a4d0-78fd38dc8fb1" message="#[payload.successful]" />
						</otherwise>
					</choice>
		</foreach>
		<logger level="INFO" doc:name="End Logger" doc:id="b07e6ca2-ce11-4e97-ac0c-067857a618a1" message='#[flatten(vars.errorIds ) filter ((item) -&gt; item != null)]'/>
	</flow>
</mule>
